@charset "UTF-8";
header{
  display: flex;
  justify-content: space-between;
  background: #0fa8ec;
  a{
    img{
      width: 0.36rem;
      height: 0.64rem;
      margin: 0.58rem 0 0 0.45rem;
    }
  }
  img{
    width: 0.92rem;
    height: 0.74rem;
    margin: 0.45rem 0.45rem 0 0;
  }
  h1{
    font:0.42rem/1.86rem "";
    color:#fff;
  }
}
.banner{
  text-align: center;
  img:nth-of-type(1){
    width: 6.56rem;
    height: 1.22rem;
    margin: 0.32rem 0;
  }
  img:nth-of-type(2){
    width: 100%;
    height: 7.6rem;
  }
  .banner1{
    background: #f4f7e4;
    padding:0.46rem 0;
    p:nth-of-type(1){
      font:0.5rem/0.78rem "";
      color:#5293bb;
      margin-bottom: 0.9rem;
    }
    p:nth-of-type(2){
      width: 7.3rem;
      height: 1.96rem;
      border: 1px solid #91a544;
      font:0.44rem/0.55rem "";
      color:#91a544;
      margin: auto;
      padding: 0.38rem 0.54rem;
      box-sizing: border-box;
      img{
        width: 0.42rem;
        height: 0.47rem;
        margin: -0.1rem 0.2rem 0 0;
      }
      span{
        margin-top: 0.2rem;
      }
    }
  }
}
.jipiao{
  background: #90a836;
  border-top: 1px solid #3882e3;
  ul:nth-of-type(1){
    display: flex;
    justify-content:space-between;
    padding: 0.32rem 0.68rem 0.32rem 0.24rem;
    li{
      width: 1.36rem;
      height: 0.92rem;
      font:0.38rem/0.92rem "";
      text-align: center;
      color:#fff;
    }
    li:nth-of-type(1){
      background: #e7ee22;
      color:#000;
    }
    li:hover{
      background: #e7ee22;
      color:#000;
    }
  }
  ul:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0.1rem;
    li {
      width: 49.6%;
      height: 1.82rem;
      font: 0.38rem/0.92rem "";
      background: #fff;
      margin-bottom: 0.1rem;
      padding-left: 0.22rem;
      box-sizing: border-box;
      position: relative;
      .tu{
        width: 1.10rem;
        height: 0.58rem;
        position: absolute;
        right: 0.2rem;
        bottom: 0.2rem;
      }
      p{
        font:0.38rem/0.76rem "";
        color:#353535;
        margin-bottom: 0.3rem;
        img{
          width: 0.43rem;
          height: 0.14rem;
        }
      }
      span{
        font:0.38rem/0.74rem "";
        color:#646464;
        b{
          font:0.6rem/0.74rem "";
          margin: 0 0.1rem;
          color:#f8bc00
        }
      }
    }
  }
  h5{
    font:0.24rem/0.54rem "";
    text-align: center;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 0.2rem;
    width: 3.8rem;
    height: 0.54rem;
    margin:0.32rem auto;
  }
  .bt{
    font:0.38rem/0.56rem "";
    color:#668132;
    background: #f4f7e4;
    padding: 0.18rem 0.1rem 0.64rem 0.2rem;
    text-align: center;
  }
}
.main{
  background: #e6eff4;
  padding: 0.52rem 0.34rem 0 0.34rem;
  text-align: center;
  .tu1{
    width: 10.12rem;
    height: 3.31rem;
    margin-left: -0.2rem;
    margin-bottom: 0.58rem;
    margin-top: 0;
  }
  .tu2{
    width: 9.61rem;
    height: 3.02rem;
    margin:0 0 0.58rem 0;
  }
  .tu3{
    width: 9.61rem;
    height: 3.47rem;
    margin:0 0 0.1rem 0;
  }
  p{
    font:0.5rem/0.7rem "";
    color:#498cb6;
    margin-bottom: 0.96rem;
  }
  img{
    width:3.65rem ;
    height: 1.31rem;
    margin: 0rem 0 0.40rem 0;
  }
  img:nth-of-type(5){
    width:4.90rem ;
    height: 0.96rem;
  }
  ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li{
      width: 4.84rem;
      margin-bottom: 0.8rem;
      img{
        width: 4.84rem;
        height: 3.97rem;
        margin: 0 0 0.3rem 0;
      }
      span{
        color:#59a8b5;
      }
    }
  }
}
footer{
  font:0.36rem/1.02rem "";
  color:#d9dbda;
  text-align: center;
}