@charset "UTF-8";
body{position:relative;}
header {
  display: flex;
  justify-content: space-between;
  background: #0fa8ec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  img {
    width: 0.2rem;
    height: 0.34rem;
    margin: 0.48rem 0 0 0.45rem;
  }
  h1{
    font:0.36rem/1.25rem "";
    color:#fff;
    margin: 0 auto;
  }
}
.banner{
  display: flex;
  justify-content: center;
  margin: 1.4rem 0 0.27rem 0;
  h5{
    width: 3.35rem;
    height: 0.8rem;
    font:0.34rem/0.8rem "";
    text-align: center;
    border: 1px solid #0fa8eb;
    color: #0fa8eb;
  }
  h5:nth-of-type(1){
    border-radius: 0.2rem 0 0 0.2rem;
    background: #0fa8eb;
    color: #fff;
  }
  h5:nth-of-type(2){
    border-radius:0 0.2rem 0.2rem 0;

  }
}
.main{
  margin: auto;
  border: 1px solid #989898;
  width: 95%;
  margin-bottom: 0.4rem;
  .main1{
    display:flex;
    justify-content: center;
    border-bottom: 1px solid #989898;
    padding-right: 0.5rem;
    position: relative;
    img:nth-of-type(1){
      width:0.57rem ;
      height: 0.26rem;
      margin-top: 1.15rem;
    }
    img:nth-of-type(2){
      width:1.07rem ;
      height: 0.88rem;
      margin-top: 1rem;
    }
    p{
      margin: 0.6rem 0.3rem 0.3rem 0.3rem;
      text-align: center;
      span{
        font:0.36rem/0.65rem "";
        color:#c1c1c1;
      }
      b{
        font:0.32rem/0.71rem "";
        color:#0e0e0e;
        position: relative;
        left: 0;
        z-index: -1;
      }
    }
    h5{
      width: 1.35rem;
      height: 0.6rem;
      padding-top: 0.8rem;
      text-align: center;
      border: 1px solid #e5e5e5;
      font-size: 0.2rem;
      background: #efefef;
      border-radius: 50%;
      z-index: -2;
      position: absolute;
      top:-30%;
      left:40%
    }
    h6{
      width: 1.4rem;
      height: 0.7rem;
      background: #fff;
      position: absolute;
      z-index: -1;
      top:-32%;
      left:40%
    }
  }

  .main2{
    display:flex;
    justify-content: center;
    border-bottom: 1px solid #989898;
    padding-right: 0.5rem;
    img:nth-of-type(1){
      width:0.53rem ;
      height: 0.62rem;
      margin-top: 0.68rem;
      margin-right: 0.48rem;
    }
    p:nth-of-type(2){
      display: none;
    }
    p{
      margin: 0.23rem 0.6rem 0.23rem 0.2rem;
      position: relative;
      span{
        font:0.36rem/0.50rem "";
        color:#c1c1c1;
      }
      b{
        font:0.50rem/0.71rem "";
        color:#0e0e0e;
        position: absolute;
        right: 0;
        top:0.6rem
      }
    }
  }
  .main3{
    display:flex;
    justify-content: space-between;
    img:nth-of-type(1){
      width:0.53rem ;
      height: 0.62rem;
      margin-top: 0.68rem;
      margin-right: 0.48rem;
    }
    .main33:nth-of-type(1){
      border-right: 1px solid #7e7e7e;
      padding-right: 0.5rem;
      width: 40%;
    }
    .main33{
      display: flex;
      justify-content: center;
      margin: 0.23rem 0;
      padding: 0.54rem 0 0.25rem 0;
      img{
        width:0.43rem ;
        height: 0.56rem;
        margin: 0 0.3rem 0 0.4rem;
      }
      p{
        img{
          width:0.1rem ;
          height: 0.13rem;
          margin: 0;
        }
        span{
          font:700 0.36rem/0.50rem "";
          color:#0e0e0e;
        }
        b{
          font:0.18rem/0.3rem "";
          color:#0e0e0e;
        }
      }
      s{
        font:700 0.36rem/0.50rem "";
        color:#0e0e0e;
        margin-left: 0.3rem;
        margin-top: 0.2rem;
        margin-right: 0.2rem;
      }

    }
  }

}
footer{
  text-align: center;
  h3{
    width: 90%;
    height: 0.84rem;
    background: #f5881f;
    border-radius: 0.2rem;
    margin: auto;
    text-align: center;
    font:0.36rem/0.84rem "";
    color:#fff;
    img{
      width:0.45rem ;
      height: 0.4rem;
      margin-right: 0.1rem;
    }

  }
  p{
    font:0.2rem/0.8rem "";
    margin-top: 0.5rem;
  }
}
